$font-family: AliMama Helvetica;
// 菜单
$top-nav-height: 4.25rem;
$transition-delay: 0.3s;

// 边框
$boder-color: #dfdfdf36;
$border-radius-def: 4px;

// 动画曲线
$animate-cubic: cubic-bezier(0.61, 0.225, 0.195, 1.25);
$animate-cubic-bount: cubic-bezier(1, -0.155, 0.165, 1.3);
